{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container">
  <h2>Привет, я автор этого проекта.</h2>
  <p>
  Меня зовут Ивашин Евгений.<br>
  Мне 32 года. Одним из моих увлечений всегда был компьютер, впервые я познакомился с ним еще будучи школьником.<br>
  Тогда были популярны игры Doom 2 и Quake 2, с них и началось моёп первое знакомство с компьютером.<br>
  Ну а дальше - больше: я постепенно освоил оффисные программы Word, Exel, Powerpoint, поработал с Photoshop и различными звуковыми редакторами.<br>
  Научился устанавливать Windows "с нуля", и настраивать сеть. И к концу 9 класса я уже хотел подавать документы в радитехнический колледж, но родители уговорили закончить школу.<br>
  После окончания я с парой своих друзей подал документы в Москву в Бауманский институт, куда поступил на факультет "Металлорежущие станки и комплексы".<br>
  Долго я там не проучился, поскольку не уделял должного внимания учебе - мне было не интересно, и после окончания 2 курса я перевелся в МАДИ (Московский автомобильно-дорожный институт) на траспортный факультет.<br>
  К этому времени у меня уже появился свой первый автомобиль, Daewo Nexia, и я был увлечен тематикой автобилей и транспорта в целом.<br>
  Окончив в 2016г. ВУЗ я сразу пошел работать по профилю и с тех пор успешно работаю на различных должностях, перидически применяя навыки работы с компьютером, полученные еще  в школе.<br>
  Но в конце 2022г., когда наш отдел  начали  расформировывать, мне пришлось искать новую работу и я задумался, а почему бы не попробовать свои силы в программировании, тем более я уже немного знаком с этим.<br>
  И после недолгих раздумий я решил пойти на курсы Backend разработчик Яндекс Практикума, т.к. для меня ближе работа с логикой  программы и алгоритмами, чем верстка и дизайн.<br>
  И вот спустя 3 месяца вы можете в живую посмотреть и оценить мой первый проект - Социальную сеть,  где  пользователи могут оставлять свои посты и комментировать чужие.Но это далеко не предел и проект будет развиваться.<br>
  Мне очень понравилось заниматься web-разработкой, особенно когда решая очередную задачу, перелопатив кучу форумов и доков, ты нажимаешь на кнопку запуска и происходит магия!<br>
  И теперь я совершенно точно хочу поучавсвовать в разработке реального проекта, чтобы тот продукт который я буду делать приносил реальную пользу и упрощал жизнь  людям, которые его будут использовать!<br> 
  </div>
  {% endblock %}